@use 'variables' as *;
@use 'mixins' as *;

body {
   background-color: #000;
   font-family: $ff-primary;
   color: white;
}

.wrapper {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: grid;
   width: 75vw;
   max-width: 1300px;
   margin: 0 auto;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 30px;
   align-content: center;
   z-index: 1;
   @include mq(tablet-large) {
      width: 80vw;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
   }
   @include mq(tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      transform: translate(-50%, -35%);
   }
   @include mq(mobile) {
      top: 5%;
      width: 75vw;
      transform: translateX(-50%);
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 1fr);
   }
}
