@use 'variables' as *;

@mixin mq($breakpoint, $max: true) {
   $size: map-get($breakpoints, $breakpoint);
   @if ($size) {
      @media (#{if($max, 'max-width', 'min-width')}: #{$size}) {
         @content;
      }
   } @else {
      @error '"#{$breakpoint}" - is not defined in #{$breakpoints}.';
   }
}

@each $name, $color in $colors {
   .project-tile {
      &__bar--#{'' + $name} {
         background-color: $color;
      }

      &:hover {
         .project-tile__bar--#{'' + $name} {
            background-color: rgba($color, 1);
            transition: background-color 0.3s linear;
         }
      }
   }
}
