$bg-color: hsl(226, 43%, 10%); // 300-900
$ff-primary: 'Rubik', sans-serif;

$aboutMe-color: hsl(246, 80%, 60%);
$tile-color: hsl(235, 46%, 20%);
$tile-hover: hsl(236, 41%, 34%);

$font-color: hsl(236, 100%, 87%);

$colors: (
   js: hsl(48, 100%, 61%, 0.8),
   react: hsl(195, 100%, 75%, 0.8),
   ts: hsl(211, 57%, 50%, 0.8),
   backend: hsl(209, 26%, 21%, 0.8),
);
